@use '../base/variables' as v;

.fondo_paginas {
    background-color: #EFEBE9;
}

.contenedor {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 20px;
    text-align: center;
    align-items: center;

    .titulo {
        font-weight: 700;
        font-size: 40px;
        color: v.$color_primario;
    }

    .img-nosotros {
        width: 100%;
        max-width: 600px;
        margin-top: 5px;
    }
}