@use '../base/variables' as v;

@media (max-width: 1165px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 865px) {
    .galeria {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1060px) {
    .destacados {
        grid-template-columns: repeat(2, 1fr);
    }

    .tienda {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 715px) {
    .destacados {
        grid-template-columns: repeat(1, 1fr);
    }

    .tienda {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 420px) {
    .contenedor .titulo {
        font-size: 30px;
    }

    .destacados .producto img {
        max-width: 150px;
    }

    .tienda .producto img {
        max-width: 150px;
    }

    .galeria .item img {
        max-width: 180px;
    }
}

@media (max-width: 768px) {
    .whatsapp-float {
        width: v.$whatsapp-size * 0.8;
        height: v.$whatsapp-size * 0.8;
        // Se posiciona sobre el footer en móviles.
        bottom: v.$footer-height-approx + (v.$whatsapp-margin * 0.8);
        right: v.$whatsapp-margin * 0.8;
    }
}