@use '../mixins/mixins' as m;

.tienda {
    .producto {
        @include m.producto_item();

        img {
            @include m.zoom_img(1.15, 0.3s);
            max-width: 300px;
        }
    }
}

.destacados {
    .producto {
        @include m.producto_item();

        img {
            @include m.zoom_img(1.05, 0.3s);
            max-width: 300px;
        }
    }
}

.galeria {
    .item {
        @include m.producto_item();

        img {
            @include m.zoom_img(1.10, 0.3s);
            max-width: 335px;
            height: auto;
        }
    }
}