@use 'variables' as v;

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 56px; //para el navbar fixed top
    padding-bottom: v.$footer-height-approx + 20px; // Espacio para el footer fijo
    background-image: url("/assets/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}