$color_primario: #4A3B31;
$color_secundario: #8b6042;
//whatsapp
$whatsapp-size: 60px; // Tamaño del icono
$whatsapp-margin: 25px; // Margen desde el borde
$whatsapp-jump-height: 8px; // Altura del salto
$whatsapp-jump-duration: 0.8s; // Duración de un salto
$whatsapp-jump-delay: 4s;