@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0; 
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    
    
}

.flex{
    height: 100vh;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    /*
    justify-content: center;
    align-items: center
    */

    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.caja{
    background-color: aquamarine;
    height: 25vw;
    width: 25vw;
    border: 10px solid blue;
}